.flex {
    display: flex;
  }
  
  .flex-inline {
    display: inline-flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-row-reverse {
    flex-direction: row-reverse;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-column-reverse {
    flex-direction: column-reverse;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .flex-nowrap {
    flex-wrap: nowrap;
  }
  
  .flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  
  .flex-justify-start {
    justify-content: flex-start;
  }
  
  .flex-justify-end {
    justify-content: flex-end;
  }
  
  .flex-justify-center {
    justify-content: center;
  }
  
  .flex-justify-between {
    justify-content: space-between;
  }
  
  .flex-justify-around {
    justify-content: space-around;
  }
  
  .flex-align-start {
    align-items: flex-start;
  }
  
  .flex-align-end {
    align-items: flex-end;
  }
  
  .flex-align-center {
    align-items: center;
  }
  
  .flex-align-baseline {
    align-items: baseline;
  }
  
  .flex-align-stretch {
    align-items: stretch;
  }
  
  .flex-align-content-start {
    align-content: flex-start;
  }
  
  .flex-align-content-end {
    align-content: flex-end;
  }
  
  .flex-align-content-center {
    align-content: center;
  }
  
  .flex-align-content-between {
    align-content: space-between;
  }
  
  .flex-align-content-around {
    align-content: space-around;
  }
  
  .flex-align-content-stretch {
    align-content: stretch;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  
  .flex-shrink {
    flex-shrink: 1;
  }
  
  .flex-basis-auto {
    flex-basis: auto;
  }
  
  .flex-basis-0 {
    flex-basis: 0;
  }
  
  .flex-basis-25 {
    flex-basis: 25%;
  }
  
  .flex-basis-50 {
    flex-basis: 50%;
  }
  
  .flex-basis-75 {
    flex-basis: 75%;
  }
  
  .flex-basis-100 {
    flex-basis: 100%;
  }
  
  .flex-order-0 {
    order: 0;
  }
  
  .flex-order-1 {
    order: 1;
  }
  
  .flex-order-2 {
    order: 2;
  }
  
  .flex-order-3 {
    order: 3;
  }
  
  .flex-order-4 {
    order: 4;
  }
  
  .flex-order-5 {
    order: 5;
  }
  
  .flex-order-6 {
    order: 6;
  }
  
  .flex-order-7 {
    order: 7;
  }
  
  .flex-order-8 {
    order: 8;
  }
  
  .flex-order-9 {
    order: 9;
  }
  
  .flex-order-10 {
    order: 10;
  }
  